:root {
  --main-white: rgba(240, 240, 240, 1);
  --main-black: rgba(0, 0, 0, 1);
  --main-gray: rgba(48, 56, 65, 1);
  --secondary-white: rgba(220, 220, 220, 1);
  --main-beige: rgba(202, 173, 114, 1);
  --main-text-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--secondary-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

svg {
  background-color: var(--main-white);
  box-shadow: 2.5rem 2.5rem 1.25rem 0rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
}

.tile {
  position: relative;
  overflow: hidden;
}

.tile:hover {
  fill: var(--main-beige);
}

g {
  color: var(--main-gray);
}

#tooltip {
  background-color: rgba(202, 173, 114, 0.9);
  color: var(--main-gray);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}

#legend {
  font-size: 1.1rem;
  text-align: center;
  width: 66%;
  height: 1.4rem;
  margin-bottom: 3rem;
}

#description {
  color: var(--main-gray);
}

#title {
  margin-top: 3rem;
  font-size: 3.5rem;
  color: var(--main-gray);
}
